name: Miri

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  # Currently, we use timers + sleep, which require disabling isolation
  MIRIFLAGS: "-Zmiri-disable-isolation"

jobs:
  miri:
    name: "Miri"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
      - name: Test with Miri
        run: cargo miri test --features _test
      - name: Run with Miri
        run: cargo miri run --features _test
